.Portfolio {
  max-width: 768px;
  width: 80%;
  display: grid;
  justify-items: center;
  .title {
    margin: 15px 0 0 0;
  }
  .project-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 5px;
    justify-items: center;
    justify-content: center;
    .project-card {
      background-color: red;
      height: 200px;
      width: 300px;
      overflow: hidden;
      position: relative;
      img { 
        height: 200px;
        justify-self: center;
      }
      .header {
        position: absolute;
        top:0px;
        height: 30px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.747);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .h3 {
          color: white;
        }
      }
    }
  }
} 