.Portfolio {
  width: 100%;
  margin-bottom: 30px;
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    .sub-header {
      margin-top: 12px;
      justify-self: center;
      width: 80%;
      height: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      justify-content: center;
      align-items: center;
      .separator{
        grid-column: 1 / -1;
        margin-bottom: 14px;
      }
      .filters-container{
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .project-container{
      justify-self: center;
      margin: 10px 0px;
      padding: 10px 0px;
      width: 90%;
      overflow: hidden;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
} 

@media (max-width: 568px) {
  .Portfolio {
    .content {
      .sub-header {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 10px;
      }
      .project-container{ 
        margin: 20px 0px;
        width: 100%;
      }
    }
  }
}