body {
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Font sizes
.h1 {
  font-size: 2.9rem;
}

.h2 {
  font-size: 2.1rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1rem;
}


// buttons 
button { 
  background-color: rgb(131, 131, 131);
  padding:8px;
  margin: 5px;
    &:hover {
    cursor: pointer;
  }
}

// display hide and show screen size 

.d-m-hide {
  @media (max-width: 500px) {
    display: none;
  }
}   
.d-m-show {
  @media (min-width: 500px) {
    display: none;
  }
}

.d-t-hide {
  @media (max-width: 768px) {
    display: none;
  }
}   
.d-t-show {
  @media (min-width: 768px) {
    display: none;
  }
}

hr {
  border-top: 2px solid black;
}

