// Colors
// $darkPurple: #140328;

$success: rgb(91, 216, 204);
$greyDark: #828282;
$greenAccent: rgb(165, 228, 224);
$greyLight: #EBEBEB;
$modalHeader: rgb(194, 194, 194);
$modalFooter: rgb(194, 194, 194);
$black: rgb(32, 32, 32);
$white: rgb(255, 255, 255);
$warning: rgb(182, 0, 0);
$test1: rgb(255, 0, 212);

:export {
  success: $success;
  greyDark: $greyDark;
  greenAccent:$greenAccent;
  greyLight: $greyLight;
  black: $black;
  white: $white;
  warning: $warning;
  test1: $test1;
}
