// Colors
// $darkPurple: #140328;

$success: rgb(91, 216, 204);
$greyDark: #828282;
$greenAccent: rgb(165, 228, 224);
$greyLight: #EBEBEB;
$modalHeader: rgb(117, 117, 117);
$modalAchievements: rgb(61, 61, 61);
$modalFooter: rgb(194, 194, 194);
$black: rgb(32, 32, 32);
$white: rgb(255, 255, 255);
$warning: rgb(182, 0, 0);
$test1: rgb(255, 0, 212);

$c1: rgb(66, 49, 138);
$c2: rgb(61, 175, 86);
$c3: rgb(70, 125, 197);
$c4: rgb(91, 216, 204);
$bg: rgb(72, 87, 94);

:export {
  success: $success;
  greyDark: $greyDark;
  greenAccent:$greenAccent;
  greyLight: $greyLight;
  black: $black;
  white: $white;
  warning: $warning;
  test1: $test1;
  c1: $c1;
  c2: $c2;
  c3: $c3;
  c4: $c4;
  bg: $bg;
}
