// Colors
// $darkPurple: #140328;

$success: #73ABA5;
$greyDark: #828282;
$greenAccent: #A6D0CD;
$greyLight: #EBEBEB;
$black: rgb(32, 32, 32);
$white: rgb(255, 255, 255);
$warning: rgb(182, 0, 0);
$test1: rgb(255, 0, 212);



:export {
  success: $success;
  greyDark: $greyDark;
  greenAccent:$greenAccent;
  greyLight: $greyLight;
  black: $black;
  white: $white;
  warning: $warning;
  test1: $test1;
}
