.Skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  .container {
    align-self: center;
    width: 90%;
    .sub-header {
      display: flex;
      margin: 16px ;
      justify-content: center;
      align-items: center;
      .filters-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
      }
    }
    .skill-cards-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      .grid{    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-row-gap: 10px;
        align-content: center;
        justify-items: center;
        width: 100%;
        max-width: 690px;
      }
    }  
    .art-skills {
      width: 100%;
      .info {
        display: grid;
        grid-template-columns: 300px auto;
        .card {
          text-align: center;
          display: flex;
          flex-direction: column;
          margin: 10px;
          padding:10px;
          .sub-header-art {
            margin-bottom: 5px;
          }
        }
        .bullet-points {
          margin: 10px;
          ol {
            list-style-type: circle;
            li {
              margin: 8px;
            }
          }
        }
      }
    }
  }

  // max-width: 768px;
  
  // display: grid;
  // justify-items: center;
  // .title{
  //   width: 100%;
  //   margin-top: 20px;
  //   text-align: center;
  // }
  // .skill-section {
  //   width: 100%;
  //   display: grid;
  //   grid-template-rows: auto 1fr;
  //   grid-template-columns:1fr;
  //   justify-items: center;
  //   .sub-header {
  //     display: flex;
  //     flex-direction: row;
  //     width: 90%;
  //     align-items: center;
  //     grid-row: 1;
  //     grid-column: 1/ -1;
  //     margin: 10px 0 10px 0;
  //     justify-content: flex-end;
  //     .hr-container {
  //       justify-self: flex-end;
  //       width: 100%;
  //       display: flex;
  //       hr {
  //         width: 98%;
  //       }
  //     }
  //   }
  //   .skill-cards {
  //     width: 90%;
  //     display: grid;
  //     grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  //     justify-self: center;
  //     grid-gap: 5px;
  //     .skill-card {
  //       display: grid;
  //       justify-content: center;
  //       justify-items: center;
  //       text-align: center;
  //       grid-gap: 5px;
  //     }
  //   }
  // }
} 