.Skills {
  max-width: 768px;
  display: grid;
  justify-items: center;
  .skill-section {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4 , 1fr);
    .sub-header {
      display: flex;
      width: 100%;
      align-items: center;
      grid-row: 1;
      grid-column: 1/ -1;
    }
  }
} 