.Contact {
  width: 100%;
  margin-bottom: 100px;
  .container{
    margin: 10px 0px;
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    .intro{
      margin-bottom: 3px;
      font-weight: bold;
      margin-top: 14px;
    }
    .direction {
      margin-bottom: 10px;
    }
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
      .name {
        label{
          margin: 10px;
        }
      }
      .email {
        label{
          margin: 10px;
        }
      }
      .message {
        grid-column: 1 / -1;
        .message{
          width: 98%;
          resize: none;
        }
      }
      .send {
        grid-column: 2/3;
        font-weight: bold;
      }
    }
  }
} 

@media (max-width: 550px) {
  .Contact {
    .container{
      grid-template-columns:  1fr;
      .content{
        grid-template-columns:  1fr;
        .name {
          grid-column: 1;
        }
        .email {
          grid-column: 1;
        }
        .message {
          grid-column: 1 ;
        }
        .send {
          grid-column: 1;
        }
  
        }
      }
    }
  }
  