// @import "../../styles/variables";
.Header {
  background-color: $greyDark;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 10000;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
    color: $white;
    font-family: $pt-sans-narrow;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-family: $pt-sans-narrow;
  }
}

@media (min-width: 768px) {
  // .Header {
  //   .burger {
  //     display: none;
  //   }
  //   .nav {
  //     display:flex;
  //     padding-right: 10px;
  //     justify-self: flex-end;
  //   }
  // }
}