.Gallery {
  background-color: green;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .carousel {
    background-color: red;
    width : 100%;
    display: flex;
    display: -webkit-box;
    overflow-x: hidden;
    white-space: nowrap;
    .slider {
      width: 100%;
      display: grid;
      justify-items: center;
      align-content: center;
      transition: height 2s; 
      img {
        max-width: 90%;
        margin: 10px 0px;
      }
    }
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}