.Footer {
  background-color: $greyDark;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    opacity: .30;
    margin: 5px;
  }
} 