.Footer {
  background-color: $greyDark;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    opacity: .7;
    margin: 5px;
    transition: transform 1s;
    &:hover{
      transform: scale(1.2)
    }
  }
} 