.App {
  width: 100%;
  background-color: $greyLight;
  .grid-container {
    background-color: white;
    width: 100%; 
    max-width: 1200px;
    display : grid;
    justify-items: center;
    justify-content: center;
  }
}